html{
    box-sizing: border-box;
}
* {
  margin: 0;
  padding:0;
}


body {
    font-family: 'Roboto', sans-serif;
}
.clearfix::after {
    display:table;
    content:'';
    clear: both;
}
.wrapper {
    max-width:  1170px;
    margin: 0 auto;}
   
    
.page-header {
   padding: 43px 245px 38px 245px;
 }
.header-logo {
    padding: 5px;
    float: left;
    font-size: 22px;
    color: #555252;
    text-decoration: none;
    text-transform: uppercase;
    }
.header-logo::first-letter {
     color:#1abc9c;
    }
.navigation{
    float: right;
    }

.navigation-site{
    list-style: none;
    }
.navigation-site-list{
    font-size: 14px;
    float: right;
   }

.navigation-site-link{ 
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
    color: #0f0101;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 33px;
  }
.navigation-site-link:not (:last-child) {
    margin-right: 33px;
  }

.navigation-site a:hover{
    color:#1abc9c;
  }
 
.slider-wrp {
  background-image: url(img/slider\slider.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 603px;
}
.slider{
  position: relative;
  width: 1170px;
  height: 603px;
  margin: auto;
}

.slider-ctrl{
  position: absolute;
  top: 50%;
  transform:translateY(-50%) ;
  z-index: 1;
  display: inline-block;
  width: 109px;
  height: 106px;
  background-color: #1abc9c;
  border: none;
}
.slider-ctrl-prev{
  left: 75px;
}

.slider-ctrl-next{
  right: 75px;
}

.slides{
  margin: 0;
  padding: 0;
  list-style: none;
}

.slides-item{
  position: relative;
}

.slides-image{
  height: 603px;
  width: 100%;
  object-fit: cover;
}

.slides-descr {
  position: absolute;
  top: 185px;
  left: 205px;
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;

}
.slides-descr2 {
  position: absolute;
  top: 298px;
  left: 205px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 300; 
}












.footer {
  max-width: 1170px;
  height: 90px;
  margin: 0 auto;
}

.footer-wrapper {
  background-color: #323232;
}

.info {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  line-height: 90px;
}

.company {
  color: #1abc9c;
}