
body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    color: #626262;
}

.contents {
width: 900px;
margin: 0 auto;
}

.navigation {
    padding: 80px 0 90px 0;
    }

.navigation-wrapper {
    padding: 0;
    display: block;
    list-style: none;
    font-size: 0;
    text-align: center;
}

.navigation-item {
    text-align: center;
    display: inline-block;
    margin-right: 60px;
}
.navigation-item .nav {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    color: #626262;
}
.navigation-item .nav:hover {
    color: #6cc2f7;
}


.content {
    font-size: 0;
}

.content-item {
    width: 100%;
    max-width: 420px;
    display: inline-block;
    margin-bottom: 90px;
    margin-right: 60px;
}

.content-item .content-picture {
    width: 100%;
    max-width: 420px;
    margin-bottom: 30px;
}
.content-item:nth-child(2n){
    margin-right: 0;
    }

.content-item p.under-picture {
    margin: 0;
    margin-bottom: 35px;
}

.under-picture {
    margin: 0;
      color: #b4ad9e;
    text-transform: uppercase;
    font-size: 14px;
    display: block;

}

.content-item h2 {
    font-size: 30px;
    margin: 0;
    margin-bottom: 40px;
}

.content-item p {
    margin: 0;
    font-size: 14px;
    }

.load {
    text-align: center;
    margin: 0 auto 70px;
    margin-bottom: 0;
    padding-bottom: 20px;
    display: block;
    font-size: 20px;
    border: 1px solid #626262;
    padding: 20px 35px;
    background: #ffffff;
}
.load:hover {
    color: #6cc2f7;
}