*{
    margin: 0;
    padding: 0;
}


body {
    width: 1200px;
    margin:0 auto;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    }
.heder-container {
    margin-bottom: 130px;
}  

.header-logo{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #95e1d3;
    text-decoration: none;
}
.navigation-site{
    display: flex;
    justify-content: space-between;
    min-width: 490px;
}

.navigation-site-link{
    display: block;
    font-family:'Montserrat', sans-serif ;
    font-size: 10px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    color:#95e1d3;
    text-align: center;
}

.navigation-site-list a:hover {
    color: #f38181;
    transition: all 200ms linear;
    } 

.navigation-site-list a::after{
    content: '';
    display: block;
    border-bottom: 3px solid #f38181;
    width: 50px;
    opacity: 0;   
    }

.navigation-site-list a:hover:after{
    opacity: 1;
    transition: all 200ms linear;
    }

.container{
    margin: 0 auto;
    width: 1200px; 
}

.services-block{
    display: flex;
}

.services-heading{
    font-size: 30px;
    font-weight: 700; 
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color:#333333;
    position: relative;
    margin-bottom: 60px;
    padding-top: 25px;
}

.services-text{
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    font-family:"Kaushan Script", cursive;
    margin-bottom: 24px;
    color:#333333;
}

.services-heading::after{
    content:'';
    display: block;
    position: absolute;
    width: 60px;
    border-bottom: 3px solid #f38181;
    bottom:-38px;
    left: 573px;
}

.services-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.services-item{
    width: 350px;
    margin-bottom: 90px;
    position: relative;
    padding-left: 15px;
}


.services-ad{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color:#333333;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 30px;
    padding-left: 30px;
}

.services-descr {
    color: #b3b3b3;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 24px;
    margin-left: 30px;
    padding-left: 30px;
}

.img0::before{
    content: " ";
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../img/icons/ALARM.png);
    background-size: contain;
    background-position : center;
    position: absolute;
    left: 0;
}

.img1::before{
    content: " ";
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../img/icons/LINE\ GRAPH.png);
    background-size: contain;
    background-position : center;
    position: absolute;
    left: 0;
}

.img2::before{
    content: " ";
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../img/icons/COMPUTER\ _\ OK.png);
    background-size: contain;
    background-position : center;
    position: absolute;
    left: 0;   
}

.img3::before{
    content: " ";
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../img/icons/BOOK\ 2.png);
    background-size: contain;
    background-position : center; 
    position: absolute;
    left: 0;  
}

.img4::before{
    content: " ";
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../img/icons/HOME.png);
    background-size: contain;
    background-position : center; 
    position: absolute;
    left: 0;
}

.img5::before{
    content: " ";
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../img/icons/image6.png);
    background-size: contain;
    background-position : center;
    position: absolute;
    left: 0;
} 

.team-block{
    padding-bottom: 80px;
}

.team-text{
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    font-family:"Kaushan Script", cursive;
    margin-bottom: 24px;
    color:#333333;
}

.team-heading{
    font-size: 30px;
    font-weight: 700; 
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color:#333333;
    position: relative;
    margin-bottom: 60px; 
}

.team-heading::after{
    content:'';
    display: block;
    position: absolute;
    width: 60px;
    border-bottom: 3px solid #f38181;
    bottom:-38px;
    left: 573px;
}  


.team-descr{
    font-family:'Roboto', sans-serif; 
    font-weight: 400;
    font-size: 14px;
    color:#b3b3b3;
    text-align: center;
}

.team-list{
    display: flex;
    justify-content: space-between;
    margin-top: 100px; 
}

.team-wrp{
    position: relative;
    width: 380px;
    height: 470px;
    margin-bottom: 30px;
}
.gradient{
    width: 380px;
    height: 470px;
    background-image: linear-gradient(rgba(238,137,137,0.9), rgba(238,214,135,0.9));
    position: absolute;
    top: 0;
    box-shadow: 10px 10px #95e1d3;
    transition: 200ms;
    opacity: 0;
}

.team-item:hover .gradient{
    opacity: 1;
    transition: all 200 ms linear;
}

.team-item{
 position: relative;
width: 380px;
height: 470px;
margin-bottom: 30px;
}

.team-wrp:hover.gradient {
    opacity: 1;
    transform: translate(-10px, -10px);
    transition: all 200 ms linear;
    }

.icons{
    display: flex;
    justify-content: space-between;
    width: 223px;
    position: absolute;
    top: 205px;
    right: 80px;
}

.icon-list{
    display: block;
    width: 57px;
    height: 57px;
    background-color: #fce38a;
    border: none;
    position: relative;
    transition: 200ms;
    opacity: 1;
    z-index: 1;
    
}

.icon-listF {
    background-image: url(../img/icons/facebook.png);
    background-repeat: no-repeat;
    background-position: center;   
}

.icon-listT {
    background-image: url(../img/icons/twitter.png);
    background-repeat: no-repeat;
    background-position: center;   
}

.icon-listP{
    background-image: url(../img/icons/pinterest.png);
    background-repeat: no-repeat;
    background-position: center;  
}

.icon-listI{
    background-image: url(../img/icons/instagram.png);
    background-repeat: no-repeat;
    background-position: center;   
}

.icon-list:hover{
    background-color: #95e1d3;
}

.name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color:#333333;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
}

.position{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;     
    font-weight: 300;
    font-style: italic;
    text-align: center;
    padding-top: 20px;
    color: #9f9f9f; 
}


.info{
  border: 1px solid #e5e5e5;
  padding: 10px 0;
}
.container-ftr{
 display: flex;
 justify-content: space-between;
 
}
.list-ftr{
    padding-top: 10px;
}
.ftr-position{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #333333;
    text-align: center;
}
.ftr-name{
    color:  #f6a0a0;;
}

form {
    display: flex;
    justify-content: space-between;
    width: 310px;
    }

.input{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    width: 160px;
    height: 36px;
    padding: 0;
    margin: 0;
}

.submit{
    font-size: 14px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: #95e1d3;
    border: none;
    margin: 0;
    width:150px ;
    height: 40px;
    text-align: center;
}
