*{
    margin: 0;
    padding: 0;
}


body {
    width: 1200px;
    margin:0 auto;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    margin-bottom: 130px;
    }  

.header-logo{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #95e1d3;
    text-decoration: none;
}
.navigation-site{
    display: flex;
    justify-content: space-between;
    width: 490px;

}

.navigation-site-link{
    font-family:'Montserrat', sans-serif ;
    font-size: 10px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    color:#95e1d3;
    text-align: center;
}

.navigation-site-list a:hover {
    color: #f38181;
    transition: all 200ms linear;
    } 

.navigation-site-list a::after{
    content: '';
    display: block;
    border-bottom: 3px solid #f38181;
    width: 50px;
    opacity: 0;   
    }

.navigation-site-list a:hover{
     opacity: 1;
    }



.container{
    margin: 0 auto;
    padding: 0;
}

.services-block{
    display: flex;
}

.services-text{
    font-size: 24px;
    font-weight: 400;
    font-family:"Kaushan Script", cursive;
    margin-bottom: 24px;
    text-align: center;
    color:#333333;
}
.services-heading{
    font-size: 30px;
    font-weight: 700; 
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color:#333333;
    position: relative;
    margin-bottom: 60px;
}

.services-heading::after{
    content:'';
    display: block;
    position: absolute;
    width: 60px;
    border-bottom: 3px solid #f38181;
    bottom:-38px;
    left: 573px;
}

.services-list{
    display: flex;  
}


.services-ad{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color:#333333;
    font-size: 14px;
    text-transform: uppercase;
}

.services-descr {
    color: #b3b3b3;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}

.services-item-ALARM.png::after{
    display: inline-block;
    content: " ";
    width: 30px;
    height: 30px;
    background: url(../img/icons/ALARM.png);
    background-size: contain;
    background-position: center;
}










.team-text{
    font-size: 24px;
    font-weight: 400;
    font-family:"Kaushan Script", cursive;
    margin-bottom: 24px;
    text-align: center;
    color:#333333;
}

.team-heading{
    font-size: 30px;
    font-weight: 700; 
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color:#333333;
    position: relative;
    margin-bottom: 60px; 
}

.team-heading::after{
    content:'';
    display: block;
    position: absolute;
    width: 60px;
    border-bottom: 3px solid #f38181;
    bottom:-38px;
    left: 573px;
}  


.team-descr{
    font-family:'Roboto', sans-serif; 
    font-weight: 400;
    font-size: 14px;
    color:#b3b3b3;
    text-align: center;
}

.team-list{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
  
}

.icon{
    width: 57px;
    height: 57px;
    background-color: #fce38a;
    border: none;
    margin: 0;
    padding:0;
}

.listF {
   
    background-image: url(../img/icons/facebook.png);
    background-repeat: no-repeat;
    background-position: center;   
}


.listT {
    
    background-image: url(../img/icons/twitter.png);
    background-repeat: no-repeat;
    background-position: center;   
}

.listP{
    background-image: url(../img/icons/pinterest.png);
    background-repeat: no-repeat;
    background-position: center;  
}
.listI{
    background-image: url(../img/icons/instagram.png);
    background-repeat: no-repeat;
    background-position: center;   
}

.icon-listF::hover{
    background-color: #95e1d3;
}

.name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color:#333333;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
}

.position{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;     
    font-weight: 300;
    font-style: italic;
    text-align: center;
    padding-top: 20px;
    color: #9f9f9f; 
}


.info{
  border: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  margin-top:80px;
}

.form {
    display: flex;
    justify-content: space-between;
    width: 310px;
    }

.input{
    border:none;
    height: 41px;
    width: 242px;
}

.submit{
    background-color: #95e1d3;
    border: none;
    width:151px ;
    height: 41px;
}
